<div class="home">
    <h1>Bibliographie - Kobe Bryant</h1>

    <img src="https://images.unsplash.com/photo-1584770557404-a5d2a798e81a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80"
        alt="kobebryant">
    <p>
        Considéré comme l’un des meilleurs joueurs de la NBA, Kobe Bryant naît à Philadelphie le 23 août 1978. Cette
        star
        incontournable du basket américain était prédestinée à une telle carrière, puisque son père n’est autre que le
        basketteur Joe Bryant.

        Kobe fait ses premiers pas sur les terrains au lycée, où il ne tarde pas à se faire remarquer par des chasseurs
        de tête.
        En 1996, il participe à la Draft – la sélection des futurs joueurs professionnels – où il est choisi par les
        Hornets de
        Charlotte. Rapidement, l’équipe décide de l’échanger avec les Lakers de Los Angeles, très intéressés par le
        talent de
        Kobe. A seulement 17 ans, il devient l’un des joueurs les plus jeunes de la NBA et l’un des rares à passer
        directement
        du lycée au niveau professionnel.

        Avec les Lakers, Kobe devient rapidement l’une des superstars du basketball américain. Il enchaîne les
        excellentes
        saisons sur les terrains au point que son partenaire, Shaquille O’Neal, le décrit même comme le meilleur joueur
        du
        monde. Le milieu des années 2000 est une période très difficile pour lui. Sur le terrain, les Lakers connaissent
        une
        mauvaise passe et les tensions en coulisses grimpent entre Shaquille et Kobe. Après ces dures années, Kobe
        Bryant et les
        Lakers remontent la pente, enchaînant pas moins de 6 finales de NBA. En 2016, il annonce prendre sa retraite.

        Le 26 janvier 2020, Kobe Bryant meurt dans un accident d'hélicoptère. L'accident a fait également huit autres
        victimes
        dont la fille du basketteur, Gianna, âgée de 13 ans.

        Côté vie privée, Kobe Bryant est marié à Vanessa Laine depuis le 18 avril 2001. Le couple a quatre enfants;
        Natalia (né
        en janvier 2003), Gianna (né en mai 2006), Bianka (née en décembre 2016) et Capri (née en juin 2019).
    </p>
</div>