
<div class="home">
    <h1>Kobe Bryant : 23 aout 1978 -  26 janvier 2020</h1>

    <img src="https://images.unsplash.com/photo-1623912279015-d748d9cd8978?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="kobebryant">
    <p>
        
    </p>
</div>