<div class="home">
    <h1>Quelques chiffres...</h1>

    <img class="chiffreImg" src="https://images.unsplash.com/photo-1580149959218-3002c427a6dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80"
        alt="kobebryant">
        <span>5</span>
    <p>
      
        Kobe Bryant a remporté cinq titres NBA au cours de sa carrière : trois consécutifs en 2000, 2001 et 2002 au côté de
        Shaquille O'Neal, deux entre 2009 et 2010, avec Pau Gasol notamment.
    </p>
    <span>20</span>
    <p>
        
    Kobe Bryant avait disputé 20 saisons en NBA, toutes avec les Los Angeles Lakers. Un record NBA qu'il partage avec Dirk
    Nowitzki (Dallas Mavericks).
    </p>
    <span>33 643</span>
    <p>
        
        Il a inscrit 33 643 points au cours de sa carrière, en saison régulière. C'est le quatrième total dans l'histoire de la
        NBA et il venait d'être dépassé, samedi soir, par LeBron James, actuel joueur des Los Angeles Lakers.
    </p>
    <span>81</span>
    <p>
      
    Le 22 janvier 2006, Kobe Bryant claquait face aux Toronto Raptors 81 points, soit le deuxième meilleur total de points
    pour un joueur NBA sur un match, derrière les mythiques 100 points de Wilt Chamberlain.
    </p>
    <span>60</span>
    <p>
        
    Le 13 avril 2016, Kobe Bryant avait mis un terme à sa carrière professionnelle en signant un nouveau match d'anthologie
    à 60 points contre Utah.
    </p>
    <span>13</span>
    <p>
        
    Surprenant : Kobe Bryant n'avait été sélectionné qu'en 13e position de la Draft 1996, par les Charlotte Hornets. Ces
    derniers l'ont ensuite échangé aux Los Angeles Lakers en échange de Vlade Divac.
    </p>
    <span>2008</span>
    <p>
       
    Kobe Bryant n'a remporté qu'une fois le titre de MVP de la saison régulière, en 2008. En revanche, il a été deux fois
    MVP des Finales (2009, 2010).
    </p>
</div>